node_modules
.DS_Store
*.auto.tfvars
.secrets*
.terraform
.terraform.lock.hcl
dist
dist.zip
.nyc_output
.env.credentials
coverage
awsconfiguration.json
amplifyconfiguration.json
Pods
frontend/swift/**/xcuserdata/**/*
UserInterfaceState.xcuserstate
