name: PUSH_B) Batch Build

on:
  push:
    # paths:
    #   - backend/nodejs/batch/**
    #   - backend/nodejs/typings/**
    #   - .github/workflows/push_backend_batch.yml
    # branches-ignore:
    #   - releases/**
    #   - master

jobs:
  Build:
    uses: ./.github/workflows/reuse_ecs_build.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/batch
      environment: dev
      run-tests: false
      ECS_SERVICE_NAME: batch
      ECR_REPOSITORY: pkc/batch
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
