name: PUSH_B) Lambda Build

on:
  push:
    paths:
      - backend/nodejs/lambda/**
      - .github/workflows/push_backend_lambda.yml
      - .github/workflows/reuse_lambda.yml
    branches-ignore:
      - releases/**
      - master
  workflow_dispatch:

jobs:
  Cognito:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/cognito
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: cognito
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  Start:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/start
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: start
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  Stop:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/stop
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: stop
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  Status:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/status
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: status
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  AuthorizerV1:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/authorizer_v1
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: authorizer-v1
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  AuthorizerV2:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/authorizer_v2
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: authorizer-v2
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  Vision:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/vision
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: vision
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  WSS_Connect:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/wss_connect
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: wss_connect
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  WSS_Disconnect:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/wss_disconnect
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: wss_disconnect
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  WSS_Commands:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/wss_commands
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: wss_commands
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  WSS_Relay:
    uses: ./.github/workflows/reuse_lambda.yml
    with:
      region: ap-northeast-1
      working-directory: backend/nodejs/lambda/wss_relay
      environment: dev
      outputs-bucket: pkc-archive-376965
      function-name: wss_relay
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
