name: PUSH_T) Service Build

on:
  workflow_run:
    workflows:
      - PUSH_T) Setup Build
    branches:
      - master
    types:
      - completed
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: ap-northeast-1
  WORKING_DIR: infrastructure/terraform/services
  TF_WORKSPACE: dev
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  TF_VAR_vpc_id: vpc-08f77b07c34029b7a
  TF_VAR_subnets: '["subnet-003cfdcdbaf257d95","subnet-0221940ce594a9f84"]'

jobs:
  Update:
    runs-on: ubuntu-18.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: dev
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR }}

    steps:
      # source checkout
      - name: Checkout
        uses: actions/checkout@v2

      # AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Install the latest version of Terraform CLI 
      # and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.4
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}

      # Service init
      - name: Terraform Services
        run: |
          terraform init
          terraform plan -out=services
          terraform apply "services"
