name: PUSH_F) Admin React Build

on:
  push:
    paths:
      - frontend/react/**
      - .github/workflows/push_frontend_admin.yml
      - .github/workflows/reuse_react.yml
    branches-ignore:
      - releases/**
      # - master
  workflow_dispatch:

jobs:
  Admin:
    uses: ./.github/workflows/reuse_react.yml
    with:
      environment: dev
      region: ap-northeast-1
      working-directory: frontend/react
      module: admin
      deploy: true
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
