name: RELEASE_D) Production Deploy

on:
  release:
    types:
      - released

env:
  AWS_DEFAULT_REGION: us-east-1
  WORKING_DIR_TERRAFORM: infrastructure/terraform
  WORKING_DIR_BACKEND: backend
  WORKING_DIR_FRONTEND: frontend/react
  TF_WORKSPACE: prod
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  TF_VAR_translation_api_url:  ${{ secrets.TRANSLATION_API_URL }}
  TF_VAR_translation_api_key:  ${{ secrets.TRANSLATION_API_KEY }}
  TF_VAR_ipa_api_url:  ${{ secrets.IPA_API_URL }}
  TF_VAR_ipa_api_key:  ${{ secrets.IPA_API_KEY }}
  TF_VAR_vision_api_url:  ${{ secrets.VISION_API_URL }}
  TF_VAR_vision_api_key:  ${{ secrets.VISION_API_KEY }}
  ECS_CLUSTER_NAME: pkc-cluster
  ECS_SERVICE_NAME: backend
  ECS_TAKS_DEFINITION: pkc-backend
  ECS_TAKS_DEFINITION_FILE: task_definition.json
  SSM_PARAMETER_NAME_BACKEND: /pkc/repository_url/backend
  SSM_PARAMETER_NAME_FRONTEND: /pkc/frontend

jobs:
  Terraform:
    runs-on: ubuntu-18.04
    environment:
      name: prod
    env:
      TF_VAR_domain_name: ${{ secrets.DOMAIN_NAME }}
      TF_VAR_google_client_id:  ${{ secrets.GOOGLE_CLIENT_ID }}
      TF_VAR_google_client_secret:  ${{ secrets.GOOGLE_CLIENT_SECRET }}

    steps:
      # source checkout
      - name: Checkout
        uses: actions/checkout@v2

      # AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Install the latest version of Terraform CLI 
      # and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.4
          cli_config_credentials_hostname: app.terraform.io
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}

      # Terraform Setup
      - name: Terraform Setup
        working-directory: ${{ env.WORKING_DIR_TERRAFORM }}/setup
        run: |
          rm -rf local.auto.tfvars
          terraform init
          terraform apply -auto-approve

      # Terraform Service
      - name: Terraform Service
        working-directory: ${{ env.WORKING_DIR_TERRAFORM }}/services
        run: |
          terraform init
          terraform apply -auto-approve

  # Backend
  Backend:
    runs-on: ubuntu-18.04
    needs:
      - Terraform
    environment:
      name: prod

    steps:
      # AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Get ECS informations
      - name: Get ECS informations
        id: ecs
        run: |
          aws ecs describe-task-definition --task-definition $ECS_TAKS_DEFINITION | jq .taskDefinition > $ECS_TAKS_DEFINITION_FILE
          image=$(aws ssm get-parameter --name $SSM_PARAMETER_NAME_BACKEND --with-decryption | jq -r .Parameter.Value)
          echo "::set-output name=definition::$GITHUB_WORKSPACE/$WORKING_DIR/$ECS_TAKS_DEFINITION_FILE"
          echo "::set-output name=image::$image"

      # update task definition
      - name: Fill in the new image ID in the Amazon ECS task definition
        id: render-web-container
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ steps.ecs.outputs.definition }}
          container-name: ${{ env.ECS_TAKS_DEFINITION }}
          image: ${{ steps.ecs.outputs.image }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render-web-container.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE_NAME }}
          cluster: ${{ env.ECS_CLUSTER_NAME }}
          wait-for-service-stability: true
          force-new-deployment: true

  # [Lambda]
  Lambda:
    runs-on: ubuntu-18.04
    needs:
      - Terraform
    concurrency: lambda
    environment:
      name: prod
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR_BACKEND }}/nodejs/lambda

    steps:
      # Source checkout
      - name: Checkout
        uses: actions/checkout@v2

      # Setup Node.js
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      # Install and Build
      - name: Build
        run: |
          yarn build:cognito
          yarn build:start
          yarn build:status
          yarn build:stop

      # AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Install the latest version of Terraform CLI 
      # and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.4
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}

      # Backend init
      - name: Terraform Backend
        working-directory: ${{ env.WORKING_DIR_BACKEND }}/terraform
        run: |
          terraform init
          terraform apply -auto-approve=true

  # [Frontend]
  Frontend:
    runs-on: ubuntu-18.04
    needs:
      - Terraform
    environment:
      name: prod
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR_FRONTEND }}

    steps:
      # Source checkout
      - name: Checkout
        uses: actions/checkout@v2

      # AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Install the latest version of Terraform CLI 
      # and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.4
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_wrapper: false

      # Get terraform outputs
      - name: Get terraform outputs
        id: terraform
        run: |
          cd configs/terraform
          terraform init
          terraform apply -auto-approve=true
          BUCKET_NAME_FRONTEND=$(terraform output -raw bucket_name_frontend)
          echo ::set-output name=bucket_name_archive::$(terraform output -raw bucket_name_archive)
          echo ::set-output name=bucket_name_frontend::$(terraform output -raw bucket_name_frontend)
          echo ::set-output name=source_tag::${GITHUB_REF#refs/tags/}

      # Install and Build
      - name: Build
        env:
          BUCKET_NAME_ARCHIVE: ${{ steps.terraform.outputs.bucket_name_archive }}
          VERSION: ${{ steps.terraform.outputs.source_tag }}
          NODE_ENV: production
        run: |
          aws s3 cp s3://$BUCKET_NAME_ARCHIVE/envs/frontend.env .
          echo VERSION=$(echo $VERSION | cut -c 1-6) >> frontend.env
          yarn install --production=false
          yarn build

      # Deploy frontend
      - name: Deploy
        env:
          BUCKET_NAME_FRONTEND: ${{ steps.terraform.outputs.bucket_name_frontend }}
        run: |
          aws s3 cp dist s3://$BUCKET_NAME_FRONTEND/ --recursive --region $AWS_DEFAULT_REGION
